.logo {
  width: 50px;
  height: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid #000;
}

.navItems {
  list-style-type: none;
  display: flex;
}

ul > li {
  padding: 10px;
}

.restCard {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.restCard > img {
  width: 100%;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  /* justify-content:space-evenly; */
}